/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.sbtserver
logs
project/project
project/target
project/.sbtserver
project/.sbtserver.lock
target
tmp
dist
.cache
projectFilesBackup
update.log
